{% extends 'base.html.twig' %}

{% block title %}Charte plateau thérapeuthique{% endblock %}

{% block body %}

<section class="container mb-5">
    <h1 class="my-5">Charte de déontologie du cadre thérapeutique pour :<h1>
    <h2>La pratique et l’enseignement du Reiki – l’Hypnose Transpersonelle – les séances de Luminothérapie – les méditations guidés – les accompagnements de groupe</h2>

    <h3 class="my-5">Mr Cédric Meyer - 6 rue du Général Rapp – 67450 Mundolsheim | 06.85.65.63.67 | cedric.eclatdora@gmail.com | www.eclatdora.fr | Siret N° ……………………… </h3>
    
    <h4 class="fw-semibold">Article 1 : Domaine d’exercice<h4>
    <p class="lead">Le praticien s’engage à :</p>
    <p class="lead">• Limiter son exercice à son domaine de compétence.</p>
    <p class="lead">• Ne pas se substituer aux professionnels de santé. Les traitements en cours ne doivent pas être interrompus.</p>
    <p class="lead">• Demander au client de consulter un médecin avant d’entreprendre des séances lorsqu’un diagnostic n’est pas posé.</p> <br>
    <h4 class="fw-semibold">Article 2 : Informations données au client : <h4>
    <p class="lead">• Informer le client sur ses titres et diplômes. </p>
    <p class="lead">• Expliquer au client en quoi consiste la séance choisie. </p>
    <p class="lead">• Répondre à toute question dans son domaine de compétence.</p>
    <p class="lead"> Autres informations :</p>
    <p class="lead"> Le praticien n’a pas d’obligation de résultats mais une obligation de moyens et s'engage à utiliser les techniques qui lui semblent être les plus adaptées à la situation et en fonction de l'objectif de son client.</p>
    <p class="lead">• Le nombre de séances utiles pour parvenir aux résultats souhaités est rarement estimable à l’avance. Il dépend de la nature du travail et varie d'un individu à l'autre. </p><br>
    <h4 class="fw-semibold"> Article 3 : Secret professionnel<h4>
    <p class="lead">• Le praticien s’engage à ne divulguer de quelque manière que ce soit ce qui se dit durant les séances. Les échangent qui peuvent avoir lieu avec d’autres professionnels se feront sans que le nom ou toute autre moyen de reconnaissance soient divulgués. Le secret professionnel est encadré par la loi, le praticien par son silence ne peut se rendre complice d’un délit.</p><br>
    <h4 class="fw-semibold">Article 4 : Enregistrement des séances<h4> 
    <p class="lead">• Afin d’éviter les possibles litiges sur le déroulé des séances et sa déontologie, il est possible et selon les cas que l’hypnothérapeute procède à l’enregistrement des séances d’hypnose depuis l’arrivée jusqu’au départ du client. S’il s’agit d’un film, celui-ci sera réalisé de dos pour le client. L’hypnothérapeute s’engage à n’utiliser ce film de quelque manière que ce soit sauf accord préalable signé du client.</p><br>
    <h4 class="fw-semibold">Article 5 : Formation continue et supervision <h4>
    <p class="lead">Le praticien s’engage à : </p>
    <p class="lead">• Suivre une formation continue. </p>
    <p class="lead">• Echanger sous couvert d’anonymat avec des confrères.</p><br>
    <h4 class="fw-semibold">Article 6 : Clause de conscience <h4>
    <p class="lead">• Le praticien se réserve la possibilité d’interrompre toute action non conforme à son éthique.</p><br>
    <h4 class="fw-semibold">Article 7 : Cadre de relation<h4>
    <p class="lead">Le praticien s’engage à : </p>
    <p class="lead">• N’avoir aucune relation de quelque nature que ce soit durant le traitement.</p> 
    <p class="lead">• Ne pas utiliser la relation de confiance, ou l’état de faiblesse du client pour obtenir quoique ce soit de celui-ci.</p><br>
    <h4 class="fw-semibold">Article 8 : Honoraire<h4>
    <p class="lead">• Le praticiens s’engage à informer de façon claire le coût des honoraires (tarifs et forfaits disponibles sur www.ecladora.fr et dans la salle d’attente du cabinet).</p>
    <p class="lead">• Toute séance non annulée 48 h à l'avance sera due ou décomptée d’un forfait acheté sauf accord avec le praticien. Cette charte peut éventuellement être ajustée ou modifiée en conservant son orientation actuelle. Je vous encourage à la relire régulièrement pour en prendre connaissance</p>
</section>

{% endblock %}