{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}

    <section class="container mb-5">
        <h1 class="my-5">Conditions Générales de Vente</h1>

        <p class="lead">Les présentes conditions générales de vente visent à définir les relations contractuelles entre Cédric Meyer – Maître Reiki certifié, Hypnothérapeute  certifié, énergéticiens, 
        consultant en luminothérapie et professeur de méditation certifié– et le ou les particulier(s) et les conditions applicables à toutes séances de Reiki, d’hypnose, de soins 
        énergétiques, de séance Lucia et de méditation proposées.</p>
        <p class="lead"> L’acquisition d’un service à la personne implique une acceptation sans réserve par le ou les particulier(s) des présentes conditions de vente.</p>
        <p class="lead">Ces conditions de ventes prévaudront sur toutes autres conditions générales ou particulières non expressément agrées par Cédric Meyer.</p>
        <p class="lead">Cédric Meyer se réserve le droit de pouvoir modifier ses conditions de vente à tout moment. Dans ce cas, les conditions applicables seront celles en vigueur à la date de la séance.</p>
        <p class="lead fw-semibold">Achat de prestations “Formation Reiki” - “séances d’hypnose” - “séance Lucia” - “méditation guidé” - “soins énergétique” - “prestation d’accompagnement en groupe”</p>
        <p class="lead">Les séances proposées sont celles qui figurent sur le site de Cédric Meyer (<a href="{{('https://eclatdora-401b1a5d9419.herokuapp.com/')}}"> https://www.eclatdora.fr/</a>).</p>
        <p class="lead">Sur demande, des séances individuelles en face-à-face, en ligne ou à domicile pourront être proposées, sous réserve d’acceptation du prix, par le ou les particulier(s).</p>
        <p class="lead">Toutes les séances que ce soit en ligne, en face-à-face ou à domicile sont proposées dans la limite des rendez-vous disponibles.</p>
        <p class="lead">La prestation débutera au moment de la prise en charge du ou des particulier(s) sur le lieu de la séance ou sur le lieu de l’association, du comité d’entreprise, de la collectivité… et à l’heure du rendez-vous convenu mutuellement.</p>
        <p class="lead">Les séances s’achèveront à la fin de celles-ci.</p>
        <p class="lead fst-italic">Caractéristiques des séances en ligne :</p>
        <p class="lead">Une séance en ligne est un entretien privé avec un praticien Reiki et/ou un hypnothérapeute dans un objectif convenu entre le Client et M Cédric Meyer. Cet entretien se déroule par webcam interposée muni d’un casque audio et par clavier interposé.</p>
        <p class="lead fst-italic">Bons Cadeaux :</p>
        <p class="lead"> La commande et l’achat des bons cadeaux proposés sur le site internet de Cédric Meyer se font via le site <a href="{{('https://eclatdora-401b1a5d9419.herokuapp.com/cadeaux')}}">www.eclatdora.fr/bonscadeaux/</a></p>
        <p class="lead">Les bons cadeaux sont valables 6 mois à compter de leur date d’émission ; la date d’expiration est indiquée sur les bons cadeaux. Passée la date de validité, les bons cadeaux ne peuvent plus être utilisés et sont désactivés. Le Client reconnait qu’un bon cadeau expiré ne pourra pas faire l’objet d’un remboursement ou donner lieu à toute autre contrepartie monétaire, sous quelque forme que ce soit.</p>
        <p class="lead fst-italic">Prise de rendez-vous :</p>
        <p class="lead">sur le site : www.eclatdora.fr/réservation-tarifs/ ou par téléphone au + 33 6 85 65 63 67. Dans les deux cas, merci de préciser qu’il s’agit d’un « BON CADEAU» et me communiquer le N° du bon.</p>
        <p class="lead fw-semibold">Tarifs</p>
        <p class="lead">Les prix pratiqués et indiqués sur le site internet <a href="{{('https://eclatdora-401b1a5d9419.herokuapp.com/')}}">https://www.eclatdora.fr/</a> sont des prix TTC (TVA non applicable art. 293 B du CGI).</p>
        <p class="lead">Cédric Meyer se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant sur le site <a href="{{('https://eclatdora-401b1a5d9419.herokuapp.com/')}}">https://www.eclatdora.fr/</a> le jour de l’achat sera le seul applicable au Client.</p>
        <p class="lead fw-semibold">Inscription, déroulement et paiement des séances de Reiki ou des séances hypnose en ligne :</p>
        <p class="lead">Le ou les particulier(s) devront :</p>
            <ul class="lead">
                <li>Prendre rendez-vous auprès de Cédric Meyer soit sur le formulaire de prise de rendez-vous sur le site www.eclatdora.fr/réservation-tarifs/, soit par téléphone au +33 (0) 6 85 65 65 67. </li>
                <li>Tout rendez-vous non décommandé 48h avant le début de la séance, sera facturé.</li>
                <li>Effectuer le paiement de la séance dans les conditions prévues.</li>
                <li>La prise de rendez-vous entraîne acceptation des présentes conditions de vente, la reconnaissance d’en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d’achat ou d’autres conditions. L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction.</li>
            </ul>
        <p class="lead fw-semibold">Conditions d’annulation</p>
        <p class="lead">Toute annulation d’un rendez-vous, non signalée par le ou les particulier(s) moins de 48h avant la date prévue, oblige comme dédommagement, la facturation d’une prestation complète, ainsi que définie par les conditions générales de vente.</p>
        <p class="lead">Vous avez un délai de 14 jours pour changer d’avis en cas d’achat par internet ou par téléphone. C’est le droit de rétractation. Si vous exercez ce droit, vous serez remboursé de la prestation de service commandée non exécutée.</p>
        <p class="lead fw-semibold">Modalités de paiement des prestations</p>
        <p class="lead">Le prix est exigible à l’issue de la prestation pour le ou les particulier(s).</p>
        <p class="lead">Dans le cas de la séance en ligne, le règlement de la séance devra parvenir à Cédric Meyer au plus tard 24 heures avant le rendez-vous prévu. Dès confirmation du paiement, le Client reçoit un mail de confirmation.</p>
        <p class="lead">Le paiement se fera uniquement en espèces, carte bancaire, PayPal ou par chèque libellé à l’ordre de Cédric Meyer. Une facture papier pourra vous être adressée par mail, au plus tard sous trente jours, si vous le souhaitez.</p>
        <p class="lead">Toute séance commencée est due dans sa totalité.</p>
        <p class="lead fw-semibold">Responsabilité</p>
        <p class="lead">Un praticiens Reiki, un hypnothérapeute ou tous praticiens de médecine douce, n’est pas un psychothérapeute : il n’est pas habilité et formé pour diagnostiquer et prendre en charge des troubles pathologiques.</p>
        <p class="lead">Le Reiki, l’hypnose, la méditation, la luminothérapie met à disposition une démarche, des exercices, dont chacun peut user librement en étant toujours l’acteur de son propre cheminement à la vitesse qu’il désire. Néanmoins, de nombreux paramètres entrant en ligne de compte, il est possible que le ou les particulier(s) n’en obtiennent pas les résultats escomptés ; aucune garantie ne peut être donnée quant au succès susceptible d’être obtenu en pratiquant ces techniques.</p>
        <p class="lead fst-italic text-decoration-underline">Il est à noter également que les séances de Reiki, d’hypnose, de Luminothérapie, de méditation ou de soins énergétiques ne peuvent, en aucun cas, remplacer des soins médicaux. Ces techniques ne se substituent en aucun cas à un avis et un suivi médical.</p>
        <p class="lead fw-semibold">Assurances</p>
        <p class="lead">L’activité de Cédric Meyer est couverte par une assurance Responsabilité Civile Professionnelle à jour, adaptée à ses prestations. Contrat AXA n°………………………………...</p>
        <p class="lead fw-semibold">Code de déontologie</p>
        <p class="lead">Cédric Meyer est tenue de garder le secret professionnel sur toutes les informations concernant le Client et s’engage à ne dévoiler aucune information qui pourrait lui être communiquée au cours des séances.</p>
        <p class="lead">Conscient de sa position, Cédric Meyer s’interdit d’exercer tout abus d’influence, et s’engage à ne pas exploiter à titre personnel ses relations avec le Client. Cédric Meyer s’engage à exercer dans le plein respect de la législation en vigueur.</p>
        <p class="lead">Toutes ses interventions sont menées de manière responsable et éthique, en respectant en tout temps la dignité, la responsabilité, l’intégrité et l’autonomie du Client.</p>
        <p class="lead text-decoration-underline">Alliance thérapeutique :</p>
        <p class="lead">Praticien et consultant ont un objectif commun : se sentir mieux en libérant un inconfort. Pour ce faire, ils se donnent une obligation de moyens et non de résultat. Cela signifie que chacun s’engage à être honnête et sincère :</p>
        <p class="lead">– le consultant s’engage à communiquer les informations utiles à son évolution et il s’engage à poursuivre le travail en autonomie.<br> – le praticien s’engage à mettre à disposition ses connaissances, son éthique et les disciplines qu’il pratique. Il s’engage à respecter son code de déontologie à être honnête quant à ses éventuelles limites de compétences.</p>
        <p class="lead">Il ne peut y avoir garantie d’un résultat 100% parfait sur les questions humaines ; nul ne peut avoir de certitude absolue sur la disparition totale des troubles. Une séance n’est jamais inutile, les résultats peuvent se mesurer sur du long terme.</p>
    </section>

{% endblock %}