{% extends 'base.html.twig' %}

{% block title %}Foire Aux Questions{% endblock %}

{% block body %}

<h1 class="text-center mt-5 mb-3">Foire Aux Questions (FAQ)</h1>
<p class="lead text-center"> Cliquez sur les titres des sections pour les développer et découvrir les réponses aux questions les plus fréquentes.</p>
    <div class="container my-5">
        <div class="accordion" id="accordionPanelsStayOpenExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <h2>Informations Générales</h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <h3>Quels sont les services que vous proposez ? </h3>
                <p class="lead"> Nous proposons une variété de services holistiques centrées sur le bien-être : </p>
                <ul class="lead">
                    <li>Formation et soins Reiki</li>
                    <li>Hypnose transpersonnelle</li>
                    <li>Méditation guidée</li>
                    <li>Constellation familiale</li>
                    <li>Luminothérapie</li>
                    <li>Sonothérapie</li>
                    <li>Soins énergétiques</li>
                    <li>Accompagnement en état élargi de conscience</li>
                    <li>Conseils en lithothérapie</li>
                </ul>

                <h3>Quels sont les avantages de ces pratiques ?</h3>
                <p class="lead">Nos services visent à :</p>
                <ul class="lead">
                  <li>Réduire le stress et l'anxiété</li>
                  <li>Favoriser l'équilibre émotionnel et mental</li>
                  <li>Stimuler les processus de guérison naturels</li>
                  <li>Développer la conscience de soi</li>
                  <li>Améliorer le bien-être global</li>
                </ul>

                <h3>Quel est le profil type de vos clients ?</h3>
                <p class="lead">Nous accompagnons un large public :</p>
                <ul class="lead">
                  <li>Personnes en quête de bien-être et de développement personnel</li>
                  <li>Individus traversant des périodes de transition ou de stress</li>
                  <li>Professionnels recherchant des outils de gestion émotionnelle</li>
                  <li>Personnes souhaitant approfondir leur connaissance de soi</li>
                  <li>Patients en complément d'un suivi médical traditionnel</li>
                </ul>

                <h3>Comment ces pratiques peuvent-elles compléter un suivi médical classique ?</h3>
                <p class="lead">Nos approches sont complémentaires à la médecine traditionnelle :</p>
                <ul class="lead">
                  <li>Elles ne remplacent pas un traitement médical</li>
                  <li>Elles peuvent soulager les symptômes de stress, d'anxiété et de tensions</li>
                  <li>Elles favorisent une approche holistique de la santé</li>
                  <li>Elles peuvent améliorer la qualité de vie et le bien-être général</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <h2> Formation Reiki </h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
              <h3>Qu'est-ce que le Reiki ?</h3>
              <p class="lead">Le Reiki est une technique de guérison énergétique japonaise qui vise à rééquilibrer l'énergie vitale par l'imposition des mains. Il permet de réduire le stress, soulager la douleur et favoriser la relaxation.</p>

              <h3>Comment se déroule une formation Reiki ?</h3>
              <p class="lead">Notre formation comprend :</p>
              <ul class="lead">
                <li>Des cours théoriques sur l'origine et les principes du Reiki</li>
                <li>Des techniques pratiques de canalisation d'énergie</li>
                <li>Des exercices de méditation et de centrage</li>
                <li>Des initiations aux différents niveaux de Reiki</li>
              </ul>

              <h3>Qui peut suivre une formation Reiki ?</h3>>
              <p class="lead">Notre formation est ouverte à tous, sans prérequis spécifiques. Elle convient aux débutants comme aux personnes déjà sensibilisées aux pratiques énergétiques.</p>

              <h3>Quels sont les niveaux de formation Reiki ?</h3>
              <p class="lead">Nous proposons généralement trois niveaux :</p>
              <ul class="lead">
                <li>Reiki 1 : Initiation et autoguérison : la voie du corps</li>
                <li>Reiki 2 : Pratique à distance et symboles avancés : la voie de l'esprit</li>
                <li>Reiki 3 : Connexion à l’Amour Divin : la voie de l'âme</li>
              </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <h2> Aspect Spécifiques des Pratiques </h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <p class="lead"> Rubrique en cours de rédaction. Pour toute question, vous pouvez me contacter directement dans la rubrique Contact ou par mail. </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                <h2> Modalités pratiques</h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <p class="lead"> Rubrique en cours de rédaction. Pour toute question, vous pouvez me contacter directement dans la rubrique Contact ou par mail. </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                <h2> Aspects Pratiques et Techniques </h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                <p class="lead"> Rubrique en cours de rédaction. Pour toute question, vous pouvez me contacter directement dans la rubrique Contact ou par mail. </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                <h2> Sécurité et Confidentialité </h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
              <div class="accordion-body">
                <p class="lead"> Rubrique en cours de rédaction. Pour toute question, vous pouvez me contacter directement dans la rubrique Contact ou par mail. </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                <h2> Questions Complémentaires </h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
              <div class="accordion-body">
                <p class="lead"> Rubrique en cours de rédaction. Pour toute question, vous pouvez me contacter directement dans la rubrique Contact ou par mail. </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEigh">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                <h2> Contact et Support </h2>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
              <div class="accordion-body">
                <p class="lead"> Rubrique en cours de rédaction. Pour toute question, vous pouvez me contacter directement dans la rubrique Contact ou par mail. </p>
              </div>
            </div>
          </div>
        </div>
    </div>

 {% endblock %}