<h1>Bonjour ! Merci pour votre inscription</h1>

<p>
    Veuillez cliquer sur le lien ci-dessous pour confirmer votre Email : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce message est valable {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très bientôt sur Eclat d'Ora !
</p>
