{% block body %}

<div class="mb-3">
    <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_services.webp')}}'); background-size: cover; background-position: center; height: 300px; width: 100%;">
        <div class="container pt-3">
        </div>
    </div>
</div>

<h1> Merci {{ prenom }} !  Ton inscription a bien été pris en compte ! </h1> <br>

<h2> Un email de validation a été envoyé sur ta boite mail. A très bientôt sur Eclat d'Ora ! </h2>

{% endblock %}