{% block body %}


<div 
    class="" 
    style="background-image: url('{{asset('images/entete_services.webp')}}'); background-size: cover; background-position: center; height: 300px; width: 100%;"></div>


    <div class="texte">
        <h1> Merci !  Ton inscription a bien été pris en compte ! </h1> <br>
        <h2> Un email de validation a été envoyé sur ta boite mail. A très bientôt sur Eclat d'Ora ! </h2>
    </div>

{% endblock %}

<style>
.texte {
    text-align: center;
    
}
</style>