<div class="bg-body-secondary">
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Juridique</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Mes services</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Séance LUCIA</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hypnose transpersonnelle</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Méditation guidée</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Mes formations</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="{{ path('app_formation') }}" class="nav-link p-0 text-body-secondary">Formation Reiki</a>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Formation 2</a></li>
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Inscrivez-vous à ma newsletter</h5>
              <p>Je vous tiens informé de toutes les actualités</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Votre Email">
                <button class="btn btn-primary" type="button">S'inscrire</button>
              </div>
            </form>
          </div>
        </div>

        <div class="footer-copyright text-center py-3">
          <p>&copy; 2024 Cédric MEYER Tous droits réservés.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
</div>