{% extends 'base.html.twig' %}

{% block title %}Créneaux de réservation{% endblock %}

{% block body %}

    <h2>Réserver une prestation : </h2>

    <div class="container mb-3">
        <label for=""><h4 class="fw-semibold">Veuillez choisir un créneau : </h4> </label>
        <select class="form-select">
            {% for reservation in reservation %}
                    <option>
                        {{ reservation.prestation }} - 
                        Le {{ reservation.date()|format_date('long', locale='fr') }},  
                        de {{ reservation.debut()|date('H:i') }}
                        à {{ reservation.fin()|date('H:i') }}.
                    </option>
                {#{% endif %}#}
            {% endfor %}
        </select> <br>
        <button type="submit" class="bouton-or">Réserver</button>
    </div>

{% endblock %}
