{% extends 'base.html.twig' %}

{% block title %}Créneaux de réservation{% endblock %}

{% block body %}

    <h2>Réserver une prestation</h2>

    <div class="container">
        <label for=""> <h3>Veuillez choisir un créneau : </h3></label> <br>
        <select class="form-select">
            {% for reservation in reservation %}
                {% if reservation.getPrestation() in ['Hypnose transpersonnelle - Visio', 'reiki'] %} 
                    <option>
                        {{ reservation.getPrestation() }}
                        Date : {{ reservation.getDate()|format_date('long', locale='fr') }} - 
                        De {{ reservation.getDebut()|date('H:i') }}
                        à {{ reservation.getFin()|date('H:i') }}
                    </option>
                {% endif %}
            {% endfor %}
        </select> 
        <button type="submit" class="btn btn-primary">Réserver</button>
    </div>

{% endblock %}
