{% extends 'base.html.twig' %}

{% block title %}Créneaux de réservation{% endblock %}

{% block body %}

    <h2>Réserver une prestation</h2>

    <div class="container mb-3">
        <label for=""> <h3>Veuillez choisir un créneau : </h3></label> <br>
        <select class="form-select">
            {% for reservation in reservation %}
                {#{% if reservation.getPrestation() in ['Hypnose transpersonnelle - Visio', 'reiki'] %} #}
                 {% if reservation.getPrestation() %}
                    <option>
                        {{ reservation.getPrestation() }} - 
                        Le {{ reservation.getDate()|format_date('long', locale='fr') }},  
                        de {{ reservation.getDebut()|date('H:i') }}
                        à {{ reservation.getFin()|date('H:i') }}.
                    </option>
                {% endif %}
            {% endfor %}
        </select> <br>
        <button type="submit" class="bouton-or">Réserver</button>
    </div> 

{% endblock %}
