{% extends 'base.html.twig' %}

{% block title %}Cédric MEYER : Parcours et Expertises | Eclat d'ORA{% endblock %}

{% block body %}

    <div class="mb-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_apropos.webp')}}'); background-size: cover; background-position: center; height: 300px; width: 100%">
            <div class="container pt-3">
                <h1> Découvrez mon parcours </h1>
            </div>
        </div>
    </div>

    <div class="container marketing">
        <h2 class="text-center"> Qui suis-je ? Parcours d'un passionné de l'Être Humain </h2>
        <div class="row featurette mt-5 mb-3">
            <div class="col-md-7">
                <p class="lead">Depuis mon enfance, la vie et ses mystères m'ont toujours fasciné. Je me surprenais à lever les yeux vers le ciel, à contempler les étoiles et à m'interroger sur ce qui se cache derrière le visible.</p>
                <p class="lead">À 7 ans, un événement a bouleversé ma perception de la réalité : le décès de ma grand-mère. Ce qui aurait dû être une expérience naturelle devint pour moi une rencontre avec l'invisible.</p>
                <p class="lead">À 8 ans, j'ai commencé à explorer les arcanes majeurs du Tarot mythique, captivé par les contes et légendes des divinités grecques qui nourrissaient mon imagination. Très tôt, je me suis naturellement tourné vers les arts énergétiques, ressentant déjà l'énergie des pierres et m'initiant à la lithothérapie.</p>
                <p class="lead">Ma passion pour les arts martiaux m'a conduit à pratiquer une discipline japonaise pendant 25 ans, dont 10 années en tant qu'enseignant. Cette pratique m'a appris à canaliser l'énergie et à découvrir mon magnétisme latent.</p>
                <p class="lead">Par la suite, je me suis orienté vers les arts énergétiques internes tels que le Qi Gong, la méditation et le Reiki.</p>
            </div>

            <div class="col-md-5 text-center">
                <img src="{{asset('images/cedric_presentation.webp')}}" class="img-fluid" width="500" height="500" alt="Image de Cédric MEYER, praticien et fondateur d'Eclat d'ORA">
            </div>

            <p class="lead">Une rupture douloureuse a marqué un tournant décisif dans mon parcours spirituel. Elle m'a conduit à rencontrer des thérapeutes expérimentés et à entreprendre un travail profond d'introspection et de guérison. Cette expérience a intensifié mon intérêt pour la psyché humaine et les arts divinatoires, me poussant à suivre diverses formations : alchimie spirituelle, astrologie, spagyrie, lithothérapie et hypnose Transpersonnelle.</p>
            <p class="lead">En 2019, j'ai ouvert Univers Quantic Shop, une boutique dédiée à la lithothérapie et le bien-être.</p>
            <p class="lead">En 2020, j'ai intégré la technologie de luminothérapie Lucia, permettant d'explorer des états de conscience modifiés et de relaxation profonde.</p>
            <p class="lead">En 2022, j'ai obtenu ma maîtrise Reiki et commencé à enseigner au sein de mon centre bien-être, accompagnant également des groupes de méditation et proposant des stages pour aider chacun à se reconnecter aux énergies subtiles.</p>
            <p class="lead">En 2023, j'ai débuté ma formation en chamanisme, approfondissant ma connexion avec les forces de la nature et les dimensions invisibles. La même année, j'ai complété ma formation en hypnose Transpersonnelle (ou hypnose régressive), devenant praticien certifié.</p>
            <p class="lead">En 2025, j'ai obtenu mon diplôme en constellation familiale et ancestrale, renforçant ma capacité à accompagner les personnes dans leur dynamique systémique, familiale et spirituelle.</p>
            <p class="lead">La même année, j'ai intégré une offre unique combinant massage et chamanisme, permettant de libérer les tensions physiques et émotionnelles tout en reconnectant les énergies subtiles de l'Être.</p>
            <p class="lead">Aujourd'hui, c'est avec bienveillance et à partir de l'espace du cœur que je mets mon expertise au service de votre chemin de vie, afin de vous accompagner dans votre évolution, qu'elle soit spirituelle et votre connexion aux énergies profondes.</p>
        </div>
    </div>
    <div class="text-center">
        <a href="{{ path('app_construction')}}" type="button" class="bouton-or mb-5">Réserver une séance</a>
    </div>

{% endblock %}
