{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <div class="my-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_apropos.png')}}'); background-size: cover; background-position: center; height: 300px; width: 100%">
            <div class="container py-5">
                <h1>Je vous propose d'en savoir plus sur moi !</h1>
            </div>
        </div>
    </div>

    <div class="container marketing">
        <h2 class="text-center"> Je suis Cédric Meyer </h2>
        <div class="row featurette mt-5 mb-3">
            <div class="col-md-7">
                <p class="lead">Depuis mon plus jeune âge, j’ai toujours été curieux de la vie et de la façon dont fonctionnais le monde. Je levai 
                régulièrement les yeux aux ciels et j’adorais contempler les étoiles. </p>
                <p class="lead">A mes 7 ans un évènement a marqué mon enfance et la façon dont je percevrais la réalité. Ma grand-mère est décédée. 
                Jusqu’à là rien d’anormale dans le cycle de la vie, si ce n’est que je continuais à la voir debout, au pied de mon lit, 
                vêtue d’une robe blanche. Elle me regardait avec compassion et Amour. Je ne pourrais jamais oublier son visage. 
                Cette première expérience avec l'invisible me terrifia.</p>
                <p class="lead">Pendant plus de deux semaines, j'ai dormi sous les couvertures, apeuré, jusqu'à ce qu'un soir, elle disparaisse. </p>
                <p class="lead">Cependant, un feu c’est réveillé en moi, je voulais comprendre.  </p>
                <p class="lead">À 8 ans, j'ai entrepris l'étude des arcanes majeurs du Tarot Mythique, captivé par les contes et légendes des divinités 
                grecques qui ont nourri mon imagination toute mon enfance.  </p>
                <p class="lead">Puis je me suis naturellement dirigé vers les arts énergétiques. J’ai commencé à m’intéresser à la lithothérapie car je 
                ressentais déjà l’énergie des pierres. </p>
                <p class="lead">Fasciné par les arts martiaux, j'ai pratiqué une discipline japonaise pendant 25 ans et je l’ai enseigné pendant 10 ans, 
                apprenant ainsi à canaliser l'énergie et découvrant en moi un magnétisme latent.</p>
            </div>

            <div class="col-md-5 text-center">
                <img src="{{asset('images/cedric_presentation2.png')}}" class="img-fluid" width="500" height="500">
            </div>
        
            <p class="lead">Dès lors je me suis dirigé vers las arts énergétiques internes comme le Qi Gong, la méditation et le Reiki </p>
            <p class="lead">L’élément déclencheur à mon ouverture spirituelle à été une rupture douloureuse. Cet évènement m’a amené à faire la rencontre 
            de thérapeutes expérimenté et à enclencher un travail d’introspection sur la guérison de mes blessures  </p>
            <p class="lead">À la suite de cette expérience mon intérêt pour la psyché humaine et les arts divinatoires s’est intensifié et ma poussé vers 
            différentes formations comme l’alchimie spirituel, l’astrologie, la spagyrie, la lithothérapie, et l’Hypnose Transpersonnelle.   </p>
            <p class="lead">En 2019, avec des amis, j'ai ouvert ma boutique de lithothérapie, appelée Univers Quantic Shop.  </p>
            <p class="lead">En 2020, j'ai acquis la technologie de luminothérapie appelée Lucia, permettant d'atteindre des états de conscience modifiés. </p>
            <p class="lead">En 2022, j'ai obtenu ma maîtrise Reiki et ai commencé à enseigner dans mon centre bien-être. J'ai également commencé à accompagner 
            des groupes de méditation et à proposer des stages bien-être pour aider les personnes à se connecter aux énergies subtiles </p>
            <p class="lead">En 2023, j'ai complété ma formation en hypnose transpersonnelle (plus communément appelé hypnose régressive), devenant officiellement 
            praticien. Aujourd'hui, c'est à partir de l’espace du cœur et avec bienveillance, que je mets à disposition toute mon expertise et mon savoir-faire, 
            afin d'éclairer votre chemin de vie et vous aider à évoluer sur votre voie spirituelle. </p>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="bouton-or mb-5">Réserver une séance</button>
    </div>

{% endblock %}
