{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}

<div class="container">
    <div class="card text-center m-5">
        <h2 class="card-header"> Titre de l'évènement</h2>
        <div class="card-body">
            <img src="{{asset('graphisme/medit.png')}}" class="img-fluid" alt="...">
            <p class="card-text">Texte de description de l'évènement</p>
            <p class="fw-medium"> Début de l'évènement : </p>
            <p class="fw-medium"> Fin de l'évènement : </p>
            <p class="fw-bold"> Prix : 150 € </p>
            <a href="#" class="btn btn-primary">S'inscrire à l'évènement</a>
        </div>
        <div class="card-footer text-body-secondary">
            Date de publication de l'annonce
        </div>
    </div>
</div>

{% endblock %}
