{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1> ESPACE DE GESTION ECLAT D'ORA </h1>
{% endblock %}

{#{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}#}

{% block main %}
    <div class="content">
        <h2>Bienvenue Cédric dans ton espace de gestion</h2>
    </div>
{% endblock %}
