{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}ESPACE DE GESTION ECLAT D'ORA{% endblock %}

{#{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}#}

{% block main %}

{% endblock %}
