{% extends 'base.html.twig' %}

{% block title %}Constellation familiale et systémique{% endblock %}

{% block body %}

    <div class="container">

        <h1> Présentation des techniques transgénérationnelles et systémiques.</h1>

        <section class="row featurette my-5">

            <h3> Qu’est ce que sont les constellations familiales dites techniques transgénérationnelles et systémiques ? </h3>

            <p class="lead">Habituellement, nous pensons que ce qui nous arrive est de notre fait, voire de notre faute, ou encore la conséquence de notre
            passé personnel. Or les constellations familiales ou ancestrales, nous montre que bien souvent lorsqu’on fait quelque chose que nous ne voudrions
            pas faire ( se mettre en colère contre son enfant ou son collègue de travail alors qu’on avait décidé de rester dans la bienveillance et dans l’accueil..),
            ou alors lorsqu’on ne fait pas quelque chose que nous voudrions vraiment faire (aller au bout de ses études, changer de travail, réaliser un voyage…) dans ces
            deux cas on dis souvent que c’est pas de notre fait, mais que c’est lié à l’influence de l’un ou l’autre membre de notre système familial ou ancestrale, à travers
            ce qu’il a lui-même fait ou ce qu’il n’a pas fait ou a négligé de faire. </p>

            <p class="lead"> Cette personne peut être un de nos aïeux ou un de nos ancêtres défunts, que nous n’avons même pas connu, et sous l’influence duquel nous sommes. Ceci
            veut dire que très souvent, nous reproduisons des comportements ou des situations qu’un membre de notre système familial a déjà vécues. Dans le langage des constellations
            familiales, on appelle cela « être intriqué » avec un membre de son système familials ou ancestrale.<p/>

            <p class="lead"> Ça veut dire que nous reproduisons des situations, des comportements qu’un membre du système a déjà vécus. </p>

            <p class="lead"> Il est difficile de voir ces influences de façon directe dans sa famille sauf parfois si on interroge les parents ou les grands parents, si on a la chance
            de les connaitre.</p>

            <p class="lead"> Or ces intrications peuvent être l’une des causes de nombreuses difficultés, notamment des difficultés physiques, diabètes, cancer, troubles cardiaques…</p>

            <p class="lead"> Ces intrications peuvent être aussi la causes de maladies psychologiques comme une dépression, de l’anxiété, des névroses, des angoisses, une tendance à l’isolement…et
            aussi d’accidents, d’échecs répétitifs, de difficultés relationnelles, professionnelles et amoureuses récurrentes.</p>

            <p class="lead"> Le travail des constellations est de rendre rendent visibles ces forces invisibles, qui sont comme des fils qui nous relient à nos ancêtres et qui s’immiscent et tissent
            notre vie et peuvent avoir une action déterminante sur notre vie. </p>

            <p class="lead">Ce processus va amorcer une libération pour le client, le demandeur de la constellation, et aussi pour tous les membres de son système familial qui sont en liens avec cette
            problématique</p>

            <p class="lead">Et bien sûr, les constellations familiales et ancestrales sont des méthodes complémentaires qui ne remplace en rien une consultation médicale, une psychothérapie ou tout
            autre traitement. </p>

            <p class="lead">Le travail systémique se déroule en deux étapes.</p>

            <p class="lead"> Tout d’abord, il y a un questionnement systémique spécifique dans lequel on va chercher ses influences, ses intrications, ces nœuds douloureux qui sont la cause de nos
            problèmes.</p>

            <p class="lead"> Puis dans un deuxième temps, on va permettre de libérer ses influences ou défaire ces intrications afin de vivre réellement notre vie sans subir les problèmes non résolus
            de nos aïeux ou d’autres membre du système familial.</p>

            <p class="lead"> Ou alors, on peut aussi faire des constellations ancestrales, puisque l’on sait que quand on a un problème c’est que généralement on manque de force car on est coupé de la
            force de nos ancêtres et les constellations ancestrales permettes de retrouver ce lien avec la force de nos lignées afin qu’elle s’écoule à nouveau jusqu’à nous.</p>

            <h3> Comment se déroule une constellation ? </h3>

            <p class="lead">Elle peut se passer en ligne comme en présentiel.</p>

            <p class="lead">La constellation se déroule avec un client, un demandeur avec lequel on aura au préalable préparé la constellation grâce au premier entretien. </p>

            <p class="lead"> Et puis, arrive le jour de la constellation, nous invitons le constellé à s’assoir à coté de moi et je vais lui reposer l’un ou l’autre question. Il va ainsi, exposer
            brièvement sa demande. En fonction de ses réponses, je vais lui proposer, de choisir dans l’assistance, des personnes, pour représenter certains membres de son système en liens avec sa
            problématique.</p>

            <p class="lead">Puis le client va choisir un représentant afin de la placer dans l’espace. </p>

            <p class="lead"> De façon aussi immédiate que surprenante, les représentants, pourtant sans aucun lien avec le client, se mettent à avoir des sensations physiques, des impressions, des
            émotions, voire des pensées qui ne leurs appartiennent pas, mais qui appartiennent à la personne qu’ils représentent dans le système familial du constellé, que cette personne soit vivante
            ou défunte. C’est ce qu’on appelle les perceptions représentatives qui vont nous guider dans le travail de constellation.</p>

            <p class="lead"> C’est-à-dire que chaque représentant rencontre une réalité différente de la sienne : il entre en contact avec une conscience plus large, plus grande que la sienne ! ce
            phénomène est appelé « perception représentatives » qui vont nous guider vers une meilleure solution pour le problème exposé.</p>

            <p class="lead">Dans un deuxième temps le client va placer les représentants </p>

            <p class="lead">Tout le monde peut être représentant et se connecter aux perceptions représentatives, c’est une faculté humaine que tout le monde possède, il suffit simplement
            d’être attentif à ses sensations… mais si on ne le désire pas, on peut répondre : « non merci, pas pour le moment »</p>

            <p class="lead">Ensuite, le constellateur, en fonction des placements des différents représentants, va faire différentes actions qui sont des protocoles de résolutions. </p>

            <p class="lead">Notre travail se fait avec beaucoup de bienveillance, dans le silence, l’attention et le calme, par respect pour le client et son processus d’harmonisation et
            de libération. Pour cela les personnes de l’assistance sont priées de ne pas se déplacer, de ne pas parler et de couper leurs téléphones. </p>

            <p class="lead">Nous respectons la confidentialité, non seulement par respect pour le client, mais aussi parce que, à la fin d’une constellation, un mouvement est donné vers une
             meilleure solution et en parler fait perdre de la force à ce travail, au détriment du client et de son système familial. </p>

            <p class="lead"> Donc, une fois notre travail terminé, nous n’échangeons plus à son sujet, ni le clien avec les représentants, ni les représentants entre eux. Cependant, si le
            constellé ressent le besoin d’en parler, il peut bien sûr le faire avec le constellateur. </p>
        </section>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-center">
                        <h3>Séance de constellation</h3>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title pricing-card-title">125 €</h4>
                        <div class="list-unstyled mt-3 mb-4">
                            <p>Durée: 1 heure</p>
                        </div>
                        {{ include('partials/_add_to_cart_button.html.twig', {
                            id: 'constellation-familiale',
                            titre: 'Séance de constellation familiale',
                            duree: '1 heure',
                            prix: 125
                        }) }}
                    </div>
                </div>
            </div>
        </div>

        <p class="text-end "><a class="text-warning link-offset-2 link-underline link-underline-opacity-0 fw-bold" href=" {{path('app_services')}}">Revenir aux services ↣</a></p>

    </div>
{% endblock %}