{% extends 'base.html.twig' %}

{% block title %}Sonothérapie{% endblock %}

{% block body %}



    <div class="container">
        <h1>La sonothérapie pour apaiser le corps et l'esprit </h1>
    </div>

    <div class="container">
        <section class="row featurette my-5">
            <div class="col-md-7">
                <p class="lead">La sonothérapie est l'utilisation des sons et des vibrations pour apporter détente et relaxation.</p>
                <p class="lead">Lorsque notre organisme connaît un dysfonctionnement physiologique, psychique, émotionnel ou spirituel, 
                le champ énergétique de notre corps se retrouve perturbé.</p>
                <p class="lead">L’eau dans notre corps est le véhicule du champ informationnel extérieure vers nos cellules. Il est donc 
                important de prendre conscience des sons et vibrations qui nous entourent. La sonotherapie est l’utilisation
                de sons pures et à haut taux vibratoire afin de rééquilibrer les dérèglements au plus profond de notre être. 
                Ces vibrations vont être propagés par l’eau contenu dans notre corps afin de permettre une ré harmonisation des 
                cellules, des molécules et de notre champ énergétique.</p>
                <p class="lead">Les soins vibratoires offrent un état de relaxation et un lâcher-prise profond immédiat. La sonologie apporte un vrai 
                recentrage ainsi qu’une nouvelle ouverture de nos perceptions. Lors d’une séance, on se sent enveloppé et massé par les fréquences sonores.</p> 
                <p class="lead">Mon rôle est de vous guider à travers cette mélodie intérieure et de vous aider à libérer les tensions et à retrouver un équilibre énergétique.</p>
                <p class="lead">Pour se faire nous serons accompagnés de différents instruments, Diapasons, Gongs, Bols Tibétains, Bols de Cristal, koshi, tambours chamaniques, voix …</p>
            </div>
            <div class="col-md-5 text-center">
                <img src="{{asset('images/services_sonotherapie.png')}}" class="img-fluid" width="100%" height="450px">
            </div>
        </section>
        
        <h2> Comment se passe une séance ?</h2>

        <p class="lead">Votre accompagnement est unique et individuel.</p>
        <p class="lead">Les séances durent en moyenne 1h à 1h30 et se déroulent toujours dans la bienveillance et l'écoute de l'autre</p>
        <p class="lead">Nous commençons par un entretien pour cibler vos besoins, problématiques et attentes.</p>
        <p class="lead"> Ensuite, je vous invite à vous installer confortablement sur la table de soin, habillé (à l'exception des 
        chaussures, de ceintures, colliers, montre, bijoux qui empêchent une circulation énergétique fluide)</p>
        <p class="lead">Des instruments de guérison sonore sont utilisés, dont certains seront appliqués sur le corps physique, d'autres 
        joués autour du corps.</p>
        <p class="lead">J'utilise également ma voix comme canal.</p>
        <p class="lead">Mon approche est "holistique" c'est à dire qu'elle prend en compte la personne dans ses différentes dimensions (physique, émotionnelle, 
        énergétique et spirituelle) Le soin et le choix des instruments est guidé par mon intuition.</p>
        <p class="lead">Je vous accompagnerai durant toutes les étapes de votre processus de guérison</p>
        <p class="lead">A la fin de la séance, je vous invite à partager votre ressenti et vous donne toutes les recommandations afin de vivre au mieux votre
        processus de transformation.</p>

        <section class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Pourquoi consulter ?</h2>
                <ul>
                    <li class="lead">Vie personnelle et affective : Confiance en soi, difficulté à communiquer avec l'autre, deuil, phobies, angoisses, 
                    stress…</li>
                    <li class="lead">Vie professionnelle ou scolaire : Pression au travail, burn-out, peur de l'échec, difficultés de concentration…</p>
                    <li class="lead">Santé physique : Sommeil perturbé, douleurs physiques : partie supérieure ou inférieure, douleurs chroniques : 
                    migraines, problèmes digestifs, problèmes de peau... </li><br>  
                    <h3>Quels sont les bénéficies d'une séance ?</h3>
                    <li class="lead">Diminution du stress et de l'anxiété</li>
                    <li class="lead">Amélioration des capacités cognitives et du sommeil</li>
                    <li class="lead">Réduction de la fatigue chronique et de la douleur</li>
                    <li class="lead">Rééquilibrage du corps physique et énergétique</li>
                    <li class="lead">Réduction des tensions musculaires </li>
                    <li class="lead">Amélioration du système immunitaire </li>
                    <li class="lead">Stimulation de la circulation sanguine </li>
                    <li class="lead">Diminution de l’inflammation chronique.</li>
                    <li class="lead">Gestion des émotions et meilleur équilibre psychique</li>
                </ul>
            </div>
            <div class="col-md-5 order-md-1 text-center mt-5">
                <img src="{{asset('images/services_sonotherapie1.png')}}" class="img-fluid" width="100%" height="450px">
            </div>
        </section>


        <h2>Contre-indications : </h2>

        <p class="lead">Port de pacemaker, épilepsie, grossesse de moins de 4 mois ou de plus de 8 mois</p>
        <p class="lead">La Sonothérapie est un soin d'accompagnement vers un résultat thérapeutique, toute 
        personne suivant un traitement ne doit surtout pas et en aucun cas l'arrêter sans avis médical. La 
        Sonothérapie ne se substitue en aucun cas à la médecine traditionnelle.</p>
    </div>

    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="text-center">Tarifs</h2>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 mb-3 mx-5 text-center justify-content-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>Séance Soins « Holistique » d’harmonisation </h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">80 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1h à 1h30</p>
                    </div>
                    <button type="button" class="bouton-or">Réserver</button>
                </div>
            </div>
        </div>
    </div>

    <p class="text-end me-5"><a class="text-warning link-offset-2 link-underline link-underline-opacity-0 fw-bold" href=" {{path('app_services')}}">Revenir aux services ↣</a></p>

{% endblock %}
