h1 {
        font-size: 5rem;
        background: linear-gradient(to bottom, #000000 0%, #c27107 30%, #c27107 70%, #000000 100%);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 0.5px white;
        text-stroke: 0.5px white;
        font-family: 'Molengo' !important;
    }

h2 {
    text-align: center;
}

@media screen and (max-width: 991px) {
    h1 {
        font-size : 4rem;
     }
 }

 @media screen and (max-width: 600px) {
    h1 {
        font-size : 3.3rem;
     }
 }

 @media screen and (max-width: 446px) {
    h1 {
        font-size : 2.5rem;
     }
 }

h2 {
    color: #D19039;
    text-shadow: 1px 1px 1px #0A020A;
    font-size: 2.5rem;
}

h3 {
    color: #D19039;
    font-weight: bold;
    font-size: 1.7rem;
}

h4 {
    color: #0A020A
}

.fond {
    background-color: #F6EFEA;
}

.fond_new {
    background-color: #EFD641;
}

.bouton-or {
    background:  #D19039;
    border: none;
    color: white;
    padding: 5px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; /* Pour rendre le bouton ovale */
    transition: background 0.1s; /* Transition pour l'effet de survol */
    width: auto; /* Pour rendre le bouton responsive */
    text-align: center;
}

.bouton-or:hover {
    background: #0A020A; /* Couleur dorée lors du clic */
    box-shadow: none; /* Supprime l'effet d'éclat lors du clic */
}

.bouton-or:active {
    background: #D19039; /* Couleur dorée lors du clic */
    box-shadow: none; /* Supprime l'effet d'éclat lors du clic */
}

.bouton-reseaux {
    background:  #0A020A;
    border: none;
    color: white;
    padding: 5px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; /* Pour rendre le bouton ovale */
    transition: background 0.3s; /* Transition pour l'effet de survol */
    width: auto; /* Pour rendre le bouton responsive */
    max-width: 200px; /* Largeur maximale pour les écrans plus grands */
    text-align: center;
}

.bouton-reseaux:hover {
    background: #D19039; /* Couleur dorée lors du clic */
    box-shadow: none; /* Supprime l'effet d'éclat lors du clic */
}

.bouton-reseaux:active {
    background: #0A020A; /* Couleur dorée lors du clic */
    box-shadow: none; /* Supprime l'effet d'éclat lors du clic */
}

/* Personnalisation de la navbar */

.fs-4 {
    color: #0A020A;
}

.fs-4:hover {
    background: #D19039; /* Couleur dorée lors du clic */
    padding: 5px 20px;
    box-shadow: none; /* Supprime l'effet d'éclat lors du clic */
    border-radius: 20px; /* Pour rendre le bouton ovale */
    transition: background 0.5s;
    color: white;
    text-shadow: 3px 3px 3px #0A020A;
}

@media screen and (max-width: 1235px) {
   .fs-4 {
    font-size: 1rem !important;
    }
}

.navbar-nav .nav-link {
    height: 60px; /* Hauteur fixe pour les éléments de navigation */
}

.fs-4 {
    position: relative;
    overflow: hidden; /* Pour cacher le fond qui va déborder */
}

.fs-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #D19039;
    transition: width 0.5s ease; /* Transition de la largeur du rideau */
    z-index: -1; /* Pour placer le pseudo-élément en arrière-plan */
}

.fs-4:hover::before {
    width: 100%; /* Largeur totale lors du survol */
}

.fs-4:hover {
    padding: 5px 20px;
    box-shadow: none;
    border-radius: 20px;
    transition: padding 0.5s, box-shadow 0.5s, border-radius 0.5s; /* Transition pour d'autres propriétés */
    color: white;
    text-shadow: 3px 3px 3px #0A020A;
}