{% extends 'base.html.twig' %}

{% block title %}Réservation et tarifs{% endblock %}

{% block body %}

    <div class="mb-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/tarifs_bandeau.png')}}'); background-size: cover; background-position: center; height: 300px; width: 100%;">
            <div class="container pt-3">
                <h1> RESERVATIONS ET TARIFS </h1>
            </div>
        </div>
    </div>

{% endblock %}
